html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Monument Extended", sans-serif;
  overflow: hidden;
}
/* hero img  */

.wrapper-img {
  overflow: hidden;
  position: relative;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, 0%);
  width:1920px;height:100vh;
    background:url(/images/images/mv_1.jpg)no-repeat;
    background-size: 105%;
}

img {
  max-width:100%;
  height: 100%;
  object-fit: cover;
}
/* header  */
.header {
  position: absolute;
  top: 40%;
  left:0;
  transform: translate(-0%, -50%);
}
.header h1 {
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
  mix-blend-mode: overlay;
  font-family: 'Montserrat', sans-serif;
line-height: 1;
}
.header-0{font-size: 24px !important;letter-spacing: 15px;padding-bottom: 64px;}
.header-1{font-weight: 100;font-weight: 300;}
.header-1 .letter {
  display: inline-block;
  line-height: 1em;
}
.header-2 .letter {
  display: inline-block;
  line-height: 1em;
}
/* hero-container */

.sidebar-text {
  position: absolute;
  top: 20%;
  right: 7%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px rgb(165, 165, 165);
}

.projects {
  position: absolute;
  bottom: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-decoration: underline;
}

.img-nav {
  position: absolute;
  right: 13%;
  bottom: 13%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: grey;
}

.next {
  position: relative;
  top: 40px;
  left: 80px;
}

/* loader  */

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  height: 20vh;
  background: #fff;
  z-index: 2;
}
.mv_wrap{padding-top: 100px;width:1920px;height: 100%;margin: 0 auto;}
#top_menu{width: 100%; font-family: 'Montserrat', sans-serif;background: #fff;height: 100px;position: fixed;z-index:999;}
.hd_inner{width:1200px;margin: 0 auto;}
#top_menu .logo{float: left;margin: 36px 0;}
#top_menu ul{/*padding: 40px 0;*/margin-left:470px;}
#top_menu ul li{height: 100px;line-height: 100px; position: relative;float: left;}
#top_menu ul li.on a{color:#4419e0;font-weight: bold}
#top_menu ul li a{font-size: 18px;color: #000;font-weight: 500;padding: 0 45px;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;}
#top_menu ul li:last-child a{padding-right: 0;}
#top_menu ul li a:hover{color: #4419e0;}
/*#top_menu ul li:after{content: ''; position: absolute;bottom: 0;width: 100px;height: 2px;background: #4419e0;transform: translate(-50%, -50%);left:50%;}*/

.scroll_down {position:absolute;left:50%;bottom:45px;
  -webkit-transform: translate(-50%,0); 
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);text-align:center;
	 z-index: 101;
  
}
.scroll_down .mouse {display:block;position:relative;}
.mouse_text {text-align:center;font-size:13px;color:#fff;line-height:1.3em;margin-bottom:13px;}

/*승주about*/
.sz_box1{margin: 0 auto;position: relative;background: url(/images/images/sz_1bg.png)no-repeat;width: 1920px;height: 993px;}
.sz_tx1bx{text-align: center;padding: 160px 0 84px;}
.sub_title{padding-bottom: 25px;font-size: 18px;color: #949494;font-weight: 100;letter-spacing: 10px;}
.sub_title2{font-size: 40px;color: #333;font-family: 'Montserrat', sans-serif;font-weight: bold;}
.sub_title3{font-size: 18px;color: #555;padding: 42px 0 84px;letter-spacing: 7px}


.sz1_right{float: right;}
.sz1_inner{float: left;}
.sz1_inner:first-child{margin-right: 40px;}
.sz1_right span{}
.sz1_right .sz1_ul{width:120px;float: left;}
.sz1_right .sz1_ul li{line-height: 35px;}
.ri_title{padding-bottom: 40px;font-size: 24px;color: #333;font-weight: 900;font-family: 'Montserrat', sans-serif;}
.rs_title{font-size: 20px;color: #333;font-weight: 700;font-family: 'Montserrat', sans-serif;}
.rs_title span{font-size: 18px;color: #000;font-weight: 100;font-family:'Noto Sans KR','Noto Sans',sans-serif;}

.sz1_right .sz1_ul1{width:160px;float: left;padding-top: 73px;}
.sz1_ul1 li{font-size: 18px;font-weight: 200;color: #000;line-height: 35px;}
.sz1_bottom{padding-top: 80px;}
.sz1_bottom .sz1_ul{width:200px}
.sz1_bottom .sz1_ul1{width:300px}

/*sz2*/
.sz_portfolio{margin: 0 auto;margin-bottom: 160px;}
.sz_portfolio ul li{float: left;margin-right: 27px;overflow: hidden}
.sz_portfolio ul li:nth-child(3n){margin-right: 0;}
.sz_portfolio ul li a img{overflow: hidden; -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;}
.sz_portfolio ul li a p{font-size: 16px;color: #000;text-align: center;padding:30px 0 60px}
.sz_portfolio ul li:hover a img{transform:scale(1.1);}
.sz_portfolio .sz_btn{display: block;width: 220px;height: 50px;font-size: 13px;color: #fff;background: #4419e0;border-radius: 50px;text-align: center;line-height: 48px;margin: 0 auto}


/*szbox3*/
.szbox3{background: url(/images/images/sz3_bg.jpg)no-repeat;background-position: center;width: 1920px;height: 760px;background-attachment: fixed;margin: 0 auto;background-size: cover;}
.szbox3 .sc{text-align: center;}
.szbox3 .sub_title,.szbox3 .sub_title2{color: #fff;}
.szbox3 .vision_tx{font-size: 18px;color: #fff;text-align: center;font-weight: 100;line-height: 35px;}
.szbox3 .sz_tx1bx{padding: 177px 0 0px;position: relative;display: inline-block;}
.szbox3 .sz_tx1bx .sub_title2:after{content: '/';display: block;font-size: 29px;font-weight: 100;margin:20px 0;}

/*szbox4*/
.szbox4 .sz_tx1bx{padding: 160px 0 0}
.szbox4 ul{width: 100%}
.szbox4 ul li{float: left;width: 33.3333%;text-align: center;}
.szbox4 ul li h1{font-size: 25px;font-weight:900;color: #222;font-family: 'Montserrat', sans-serif;padding: 30px 0 24px}
.szbox4 ul li p{font-size: 20px;color: #000;font-weight: 100;}

/*footer*/
footer{height: 300px;}
@media (max-width: 900px) {
  .wrapper-img {
    width: 90%;
  }
  .header {
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .header h1 {
    font-size: 40px;
  }

  .projects,
  .img-nav {
    display: none;
  }
}
